.card {
  background-color: hsl(228deg 5% 21%);
  border-radius: 6px;
  padding: 30px 20px;
}

.card[data-variant="split"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  min-height: 200px;
}
