* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: hsl(228deg 7% 14%);
  color: hsl(0deg 0% 100%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, button, input {
  all: unset;
}
