.wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.demoLink {
  border: 2px solid hsl(0deg 0% 100%);
  font-size: 2rem;
  padding: 10px 20px;
  text-align: center;
  min-width: 300px;
}
