.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.heading {
  font-weight: 700;
  font-size: 1.5rem;
}

.headerAction {
  font-size: 0.9rem;
  padding: 5px 10px;
  border: 1px solid rgb(106, 101, 101);
  border-radius: 4px;
  cursor: pointer;
}

.activeFilter {
  background-color: hsl(0deg 84% 60%);
}

.avatarGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  grid-auto-rows: min-content;
  gap: 30px 20px;
}

.detailMsg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100px;
}

.card {
  background-color: hsl(228deg 5% 21%);
  border-radius: 6px;
  padding: 30px 20px;
}

.listCard {
  flex: 1;
}

.detailCard {
  margin-top: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
