.wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.avatar {
  display: block;
  width: 140px;
  aspect-ratio: 1;
  object-fit: contain;
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.name {
  font-size: 1.2rem;
  font-weight: bold;
}

.description {
  font-size: 0.95rem;
  color: rgb(210, 206, 206);
  margin-block-end: 15px;
}

.addBtn {
  border: 2px solid hsl(0deg 0% 100%);
  border-radius: 4px;
  padding: 5px 10px;
  white-space: nowrap;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.addBtn[data-status='requested'] {
  opacity: 0.8;
  pointer-events: none;
}

.addBtn[data-status='accepted'] {
  border-color: hsl(0deg 84% 60%);
  color: hsl(0deg 84% 60%);
}

.addBtn:hover {
  color: hsl(217deg 91% 60%);
  background-color: hsl(0deg 0% 100%);
}

.addBtn[data-status='accepted']:hover {
  color: hsl(0deg 0% 100%);
  background-color: hsl(0deg 84% 60%);
}

.addBtn:focus-visible {
  transform: scale(1.1);
}
