.avatarWrapper {
  position: relative;
}

.avatarLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.avatarLink:focus-visible > .avatar {
  outline: 2px solid hsl(217deg 91% 60%);
}

.avatar {
  display: block;
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
  outline-offset: 2px;
  border-radius: 100%;
  background-color: hsl(0deg 0% 33%);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.avatarName {
  text-align: center;
  font-size: 0.8rem;
  white-space: nowrap;
}

.addBtn {
  position: absolute;
  top: -4px;
  right: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  aspect-ratio: 1;
  background-color: hsl(214deg 100% 97%);
  transition: all 0.2s;
}

.addBtn[data-status='requested'] {
  background-color: hsl(215deg 20% 65%);
  pointer-events: none;
}

.addBtn:hover {
  transform: scale(1.1);
}

.addBtn:focus-visible {
  background-color: hsl(217deg 91% 60%);
}

.addBtn[data-status='accepted']:focus-visible {
  background-color: hsl(0deg 0% 0%);
}

.addBtnIcon {
  font-size: 1.5rem;
  color: hsl(217deg 91% 60%);
}

.addBtn[data-status='requested'] > .addBtnIcon {
  color: hsl(215deg 16% 47%);
}

.addBtn[data-status='accepted'] > .addBtnIcon {
  color: hsl(0deg 84% 60%);
}

.addBtn:focus-visible > .addBtnIcon {
  color: hsl(214deg 100% 97%);
}

.addBtn[data-status='accepted']:focus-visible > .addBtnIcon {
  color: rgb(243, 135, 135);
}
